@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Con esta app puedes configurar las conexiones a tus bases de datos SQL Server, <a href="@Url.ActionLink("Index","Conexiones")"> aquí </a> 
    hacer salvas y descargarlas <a href="@Url.ActionLink("Index","Salvas")">aquí</a>.</p>
</div>
